.site-header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  background: #060018;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;

  border-bottom: 1px solid rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

.header-inner {
  width: 1180px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-brand {
  display: flex;
  align-items: center;
   transform: translateX(-15px);
}

.header-logo-icon {
  width: 49px;
  height: 49px;
  object-fit: contain;
  display: block;
}

.header-logo-text {
  margin-left: 12px;
}

.header-logo-text h1 {
  margin: 0;

  color: #ffffff;

  font-size: 21px;
  line-height: 1;

  letter-spacing: 0.4px;

  font-weight: 250;
}

.header-logo-text h1 span {
  font-weight: 800;
}

.header-logo-text p {
  margin-top: 5px;

  color: #ffffff;

  font-size: 7px;
  letter-spacing: 1.4px;

  font-weight: 500;

  opacity: 0.92;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.get-touch-btn {
  width: 116px;
  height: 32px;

  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 999px;

  background: transparent;

  color: #ffffff;

  font-size: 14px;
  font-weight: 500;

  transition: 0.3s;
}

.get-touch-btn:hover {
  background: #ffffff;
  color: #060018;
}

.menu-btn {
  width: 108px;
  height: 108px;

  background: transparent;
  border: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;

  cursor: pointer;
}

.menu-btn span {
  width: 14px;
  height: 1.5px;

  background: #ffffff;

  border-radius: 10px;
}

@media (max-width: 1200px) {
  .header-inner {
    width: 92%;
  }
}

@media (max-width: 768px) {
  .site-header {
    height: 70px;
  }

  .header-inner {
    height: 44px;
  }

  .header-logo-icon {
    width: 40px;
    height: 40px;
  }

  .header-logo-text {
    margin-left: 8px;
  }

  .header-logo-text h1 {
    font-size: 18px;
  }

  .header-logo-text p {
    font-size: 5px;
    letter-spacing: 1px;
  }

  .header-right {
    gap: 14px;
  }

  .get-touch-btn {
    width: 95px;
    height: 28px;
    font-size: 9px;
  }
}